

 <div class="module ptb-100" style="background: #F1F5F9; background-size:contain;
 background-repeat:no-repeat; height:50%!important;">
  <div class="container">
    <div class="row"  >
      <div class="col-lg-12 col-md-12">
        <h3 class="text-center" >Government Grants and Loans</h3>

        <p >
          Get information on government programs that may help you pay for food, housing, health care, and other basic living expenses. Find out about eligibility requirements for programs like food stamps, welfare, and Medicaid, and how to apply for them.
        </p>

        <h3 >Free Money from the Government</h3>
        <p >
          The federal government does not offer grants or “free money” to individuals to start a business or cover personal expenses, contrary to what you might see online or in the media. Websites or other publications claiming to offer "free money from the government" are often scams. Report them to the Federal Trade Commission.
        </p>




      </div>
    </div>

    <br> <br>


    <div class="row">
      <div class="col-md-3">
        <img src="images/logo22.svg" alt=""  style="width:250px; height:250px;">
      </div>
      <div class="col-md-9">
        <div class="form-group">


          <h4 >How we help you get a small business administration (SBA) loan      Government Benefits</h4>

          <p >
            This is design to help unemployed citizens who lost there jobs due to the COVID 19 pandemic to helps sustain in business that may help you pay for food, housing, health care, and other basic living expenses,And this make your government loan request to help you grow your small business Administration with the lowest interest across the United States .SBA is collecting the requested information in order to make a loan under SBA’s Economic Injury Disaster Loan Program to the qualified entities listed in this application that are impacted by the Coronavirus (COVID-19). The information will be used in determining whether the applicant is eligible for an economic injury loan. If you do not submit all the information requested, your loan cannot be fully processed apply for loan
          </p>


          <h4 >
            Loan Application Form
          </h4>

          <div class="row">
            <div class="col-md-12">
             <div class="form-group">
               <label for="">Firstname  <span class="important"> (required)</span></label>
               <input type="text" class="form-control loan-input" required  ng-model="vm.form.firstName">
             </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="">Lastname  <span class="important"> (required)</span></label>
                <input type="text" class="form-control  loan-input" required  ng-model="vm.form.lastName">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="">Date Of Birth  <span class="important"> (required)</span></label>
                <input type="date" class="form-control  loan-input" required   ng-model="vm.form.dob">
              </div>
            </div>
          </div>
          <br>



          <div class="row">
            <div class="col-md-12">
            <div class="form-group">
              <label for="">Email Address  <span class="important"> (required)</span></label>
              <input type="email" class="form-control loan-input" required   ng-model="vm.form.email">
            </div>
            </div>
            <div class="col-md-12">
             <div class="form-group">
               <label for="">Zip Code</label>
               <input type="zipcode" class="form-control loan-input" required  ng-model="vm.form.zipCode">
             </div>
            </div>
            <div class="col-md-12">
           <div class="form-group">
             <label for="">Phone Number  <span class="important"> (required)</span></label>
             <input type="phone" class="form-control  loan-input" required  ng-model="vm.form.phone">
           </div>
            </div>

          </div>
          <br>

          <div class="row">
            <div class="col-md-12">
             <div class="form-group">
               <label for="">Address  <span class="important"> (required)</span></label>
               <input type="text" class="form-control loan-input"   ng-model="vm.form.address1">
             </div>
            </div>
            <div class="col-md-12">
             <div class="form-group">
               <label for="">Address 2</label>
               <input type="text" class="form-control  loan-input"   ng-model="vm.form.address2">
             </div>
            </div>

          </div>
          <br><br>


          <h4 >Bank Information</h4>

          <div class="row">
            <div class="col-md-12">
         <div class="from-group">
           <label for="">Account Holder Name <span class="important"> (required)</span></label>
           <input type="text" class="form-control loan-input"   ng-model="vm.form.bankName">
         </div>
            </div>

            <div class="col-md-12">
           <div class="form-group">
             <label for=""> Bank Account  <span class="important"> (required)</span></label>
             <input type="text" class="form-control  loan-input"   ng-model="vm.form.bankAccount">
           </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-12">
             <div class="form-group">
               <label for="">SSN <span class="important"> (required)</span></label>
               <input type="text" class="form-control loan-input" placeholder="SSN"    ng-model="vm.form.ssn">
             </div>
            </div>
            <div class="col-md-12">
     <div class="form-grou">
       <label for="">Bank Routine Number  <span class="important"> (required)</span></label>
       <input type="text" class="form-control  loan-input" placeholder="Bank Routine Number"   ng-model="vm.form.routineNumber">
     </div>
            </div>

          </div>
          <br>

          <div class="row">
            <div class="col-md-12">
              <h6>Reason for the Loan</h6>
              <textarea  cols="30" rows="10"  class="form-control "    ng-model="vm.form.reason"></textarea>

            </div>
            <div class="col-md-12">
              <br>
  <button class="btn btn-danger btn-lg  float-right"  ng-click="vm.submitLoan()">Submit</button>
  <br><br>
            </div>

          </div>




        </div>
      </div>
    </div>
  </div>
