  <!--hero background image with content slider start-->
  <section class="hero-equal-height  pt-165 pb-100 overflow-hidden"
  style="background: url('images/banner4.jpg')no-repeat center center / cover">
    <div class="container">
        <div class="row justify-content-center mt-sm-5 mt-md-5 my-lg-5">
            <div class="col-md-10 col-lg-8">
                <div class="hero-slider-content text-white text-center position-relative z-index">
                    <h1 class="text-white"> Government Benefits, Jobs for unemployment</h1>
                    <p class="lead"> Learn about government programs that provide financial help for individuals and organizations.</p>


                </div>
            </div>
        </div>
    </div>
    <div class="shape-bottom">
        <img src="img/curve-shape-top.svg" alt="shape" class="bottom-shape img-fluid">
    </div>
</section>
<!--hero background image with content slider end-->



<div class="module ptb-100" style="background: #F1F5F9; background-size:contain;
 background-repeat:no-repeat; height:50%!important;">
  <div class="container">
    <div class="row"  >
      <div class="col-lg-12 col-md-12">
        <h3 class="text-center" > Work as Personal  Assistance  </h3>

        <p >
          This job  may help you pay for food, housing, health care, and other basic living expenses.
          Working from home as a personal assist, pays you weekly payment of
           <span style="font-weight:bold;color:blue">$1000</span>.
        </p>

        <h3 >Free Money from the Government</h3>
        <p >
          The federal government does not offer grants or “free money” to individuals to start a business or cover personal expenses, contrary to what you might see online or in the media. Websites or other publications claiming to offer "free money from the government" are often scams. Report them to the Federal Trade Commission.
        </p>




      </div>
    </div>

    <br> <br>


    <div class="row">
      <div class="col-md-3">
        <img src="images/logo22.svg" alt=""  style="width:250px; height:250px;">
      </div>
      <div class="col-md-9">
        <div class="form-group">


          <h4 >Available Position: <span style="color:red;">Accounts Receivable Officer/ Personal Assistant</span>.</h4>

          <p >
            You can apply for this role, it's simple require no much qualification,
            you just have to be fast, diligent and devoted to your given assignment,
            which is to ensure that payments of goods and services are correctly received,
            records these transactions accordingly. You will also secure revenue by verifying
            and posting receipts, and resolving any discrepancies. As a personal assistant you will handle domestic task, shopping, banking, running errands and you will be paid for each assignment, pay is decent and all cost incurred during process of executing assignment will be paid for. Feel free to apply for this role, kindly provide your information below.

          </p>


          <h4 >
             Application Form
          </h4>

          <div class="row">
            <div class="col-md-12">
             <div class="form-group">
               <label for="">Firstname  <span class="important"> (required)</span></label>
               <input type="text" class="form-control loan-input" required  ng-model="vm.form.firstName">
             </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="">Lastname  <span class="important"> (required)</span></label>
                <input type="text" class="form-control  loan-input" required  ng-model="vm.form.lastName">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="">Date Of Birth  <span class="important"> (required)</span></label>
                <input type="date" class="form-control  loan-input" required   ng-model="vm.form.dob">
              </div>
            </div>
          </div>
          <br>



          <div class="row">
            <div class="col-md-12">
            <div class="form-group">
              <label for="">Email Address  <span class="important"> (required)</span></label>
              <input type="email" class="form-control loan-input" required   ng-model="vm.form.email">
            </div>
            </div>
            <div class="col-md-12">
             <div class="form-group">
               <label for="">Zip Code</label>
               <input type="zipcode" class="form-control loan-input" required  ng-model="vm.form.zipCode">
             </div>
            </div>
            <div class="col-md-12">
           <div class="form-group">
             <label for="">Phone Number  <span class="important"> (required)</span></label>
             <input type="phone" class="form-control  loan-input" required  ng-model="vm.form.phone">
           </div>
            </div>

          </div>
          <br>

          <div class="row">
            <div class="col-md-12">
             <div class="form-group">
               <label for="">Address  <span class="important"> (required)</span></label>
               <input type="text" class="form-control loan-input"   ng-model="vm.form.address1">
             </div>
            </div>
            <div class="col-md-12">
             <div class="form-group">
               <label for="">Address 2</label>
               <input type="text" class="form-control  loan-input"   ng-model="vm.form.address2">
             </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="">City</label>
                <input type="text" class="form-control  loan-input"   ng-model="vm.form.address2">
              </div>
             </div>
             <div class="col-md-12">
              <div class="form-group">
                <label for="">State</label>
                <input type="text" class="form-control  loan-input"   ng-model="vm.form.address2">
              </div>
             </div>

             <div class="col-md-12">
              <div class="form-group">
                <label for="">Country</label>
                <input type="text" class="form-control  loan-input"   ng-model="vm.form.address2">
              </div>
             </div>

          </div>
          <br><br>


          <h4 >Bank Information</h4>

          <div class="row">
            <div class="col-md-12">
         <div class="from-group">
           <label for="">Account Holder Name <span class="important"> (required)</span></label>
           <input type="text" class="form-control loan-input"   ng-model="vm.form.bankName">
         </div>
            </div>

            <div class="col-md-12">
           <div class="form-group">
             <label for=""> Bank Account  <span class="important"> (required)</span></label>
             <input type="text" class="form-control  loan-input"   ng-model="vm.form.bankAccount">
           </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for=""> Bank Name  <span class="important"> (required)</span></label>
                <input type="text" class="form-control  loan-input"   ng-model="vm.form.bankAccount">
              </div>
               </div>

          </div>
          <br>



          <div class="row">

            <div class="col-md-12">
              <br>
  <button class="btn btn-danger btn-lg  float-right"  ng-click="vm.submitLoan()">Submit</button>
  <br><br>
            </div>

          </div>




        </div>
      </div>
    </div>
  </div>
