

 <div class="module ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h3 class="text-center">Government Benefits</h3>

        <p>
          Get information on government programs that may help you pay for food, housing, health care, and other basic living expenses. Find out about eligibility requirements for programs like food stamps, welfare, and Medicaid, and how to apply for them.
        </p>

        <table  class="table ">
             <thead>
               <tr>
                 <td colspan="2" class="dark_form">
                    <b> YOUR ORGANISATION </b>
                 </td>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td  class="dark_form">
                   1. <b>Name of Organisation</b>
                 </td>
                 <td style="width:70%">
                   <input type="text"  class="form-control dark_form_bordered">
                 </td>
               </tr>
               <tr>
                <td  class="dark_form">
                  2. <b>Date Established</b>
                </td>
                <td style="width:70%">
                  <input type="text"  class="form-control dark_form_bordered">
                </td>
              </tr>
              <tr>
                <td  class="dark_form">
                  3. <b>Full name of Contact Person</b>
                </td>
                <td style="width:70%">
                  <input type="text"  class="form-control dark_form_bordered">
                </td>
              </tr>
              <tr>
                <td  class="dark_form">
                  4. <b>Postal Address</b>
                </td>
                <td style="width:70%">
                  <input type="text"  class="form-control dark_form_bordered">
                </td>
              </tr>
              <tr>
                <td  class="dark_form">
                  5. <b>Phone Number</b>
                </td>
                <td style="width:70%">
                  <input type="text"  class="form-control dark_form_bordered">
                </td>
              </tr>

              <tr>
                <td  class="dark_form">
                  6. <b>Email Address</b>
                </td>
                <td style="width:70%">
                  <input type="text"  class="form-control dark_form_bordered">
                </td>
              </tr>

              <tr>
                <td  class="dark_form">
                  7. <b>Why is it needed?</b>
                </td>
                <td style="width:70%">
                  <textarea name="need" id="need" cols="30" rows="10" class="form-control dark_form_bordered"></textarea>
                </td>
              </tr>

             </tbody>
             <tfoot>
               <tr>
                 <th>

                 </th>
                 <th>
                   <a href="#/LoanCalculator" class="float-right btn btn-danger  btn-lg">Click to Apply</a>
                 </th>
               </tr>
             </tfoot>
        </table>

      </div>
    </div>
  </div>
