  <!--hero background image with content slider start-->
  <section class="hero-equal-height  pt-165 pb-100 overflow-hidden"
  style="background: url('images/banner4.jpg')no-repeat center center / cover">
    <div class="container">
        <div class="row justify-content-center mt-sm-5 mt-md-5 my-lg-5">
            <div class="col-md-10 col-lg-8">
                <div class="hero-slider-content text-white text-center position-relative z-index">
                    <h1 class="text-white"> Government Benefits, Grants, and Loans </h1>
                    <p class="lead"> Learn about government programs that provide financial help for individuals and organizations.</p>

                    <div class="action-btns">
                        <a href="#/ApplyForLoan" class="btn btn-danger btn-lg">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-bottom">
        <img src="img/curve-shape-top.svg" alt="shape" class="bottom-shape img-fluid">
    </div>
</section>
<!--hero background image with content slider end-->



 <!--our work process section start-->
 <section class="work-process-new ptb-100">
  <div class="container">

      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8">


               <img src="images/Government_Benefits_Final_2019.png"
                width="100%"
               class="img img-responsive" alt="">

               <div class="action-btns">
                <a href="#/ApplyForLoan" class="btn btn-danger btn-lg  float-right"  >Apply Now</a>
            </div>



            </div>
            <div class="col-md-2"></div>
          </div>
      </div>
  </div>
</section>
<!--our work process section end-->
