<div class="row" style="margin-top:80px;">
  <div class="col-md-6">
    <img src="images/confirm.jpeg" alt="">
    <h4 style="margin-left:10px;">
      <span style="font-size:40px; font-weight:800;color:#FF5B1C;">Welcome</span> {{ vm.form.firstName }}
      {{ vm.form.lastName }}
    </h4>

  </div>

  <div class="col-md-6">

    <div class="rect1">
      Status
    </div>
    <div class="status-green">
      Your Application is being processed.
      <p>
        Our customer care will get back to you by email or text you.
        <br>
        Stay in contact.
      </p>
    </div>
    <br><br>


  </div>


</div>
