
  <div class="row"  style="margin-top:150px;">
    <div class="col-md-4 col-sm-12">
      <img src="images/loan_approved.jpg" alt=""  class="img img-responsive"  style="width:100%;">
    </div>
    <div class="col-md-4  col-sm-12">
      <h2>Congratulation  <span id="loan_name"></span>!</h2>
      <p>
        Your loan is been processed! But to access the loan, you must ensure the upfront payment
        of 10% of your principal is deposited to Loan Manager Account Details as stated below.
      </p>
      <table class="table table-stripped">
        <tr>

         <tr>
           <td>Loan Officer Name</td>
           <td>Dave Cameron</td>
         </tr>
         <tr>
          <td>Loan Officer Account </td>
          <td>$camrondaveson</td>
        </tr>

      </table>
    </div>
    <div class="col-md-4   col-sm-12">
      <img src="img/client-1.jpg" alt="" srcset="" >
      <h4> Loan Officer Dave Cameron</h4>

    </div>
  </div>
