<div class="module ">
  <div class="container" >
    <div class="row">
      <div class="col-md-12">

        <slick infinite=true slides-to-show=1 slides-to-scroll=1 autoplay=true dots=true rows=1 >
        <div class="card bg-dark "   >
          <img src="images/banner7.jpg" class="card-img img img-responsive" alt="...">
          <div class="card-img-overlay">
            <br>
            <div class="coro_bar">
              <h4   style="color:#FF5B1C!important">COVID 19 Benefit</h4>
              <p class="card-text coro_body">
                We’re here to help you overcome the challenges created by this health crisis. We offer multiple funding
                options for those seeking relief. Read more below.


              </p>
              <a href="#/BenefitOptions" class="btn btn-lg btn-danger">Proceed</a>
            </div>
          </div>
          <br><br>
        </div>



        <div class="card bg-dark "   >
          <img src="images/banner5.jpg" class="card-img img img-responsive" alt="...">
          <div class="card-img-overlay">
            <br>
            <div class="coro_bar">
              <h4  style=" color:#FF5B1C!important">We help to get SBA loan  Government Benefits</h4>
              <p class="card-text coro_body">
                We’re here to help you overcome the challenges created by this health crisis. We offer multiple funding
                options for those seeking relief. Read more below.


              </p>
              <a href="#/BenefitOptions" class="btn btn-lg btn-danger ">Proceed</a>
            </div>
          </div>
          <br><br><br><br>
        </div>

        <div class="card bg-dark "   >
          <img src="images/banner8.jpg" class="card-img img img-responsive" alt="...">
          <div class="card-img-overlay">
            <br>
            <div class="coro_bar">
              <h4   >
                This is design to help unemployed citizens who
                lost there jobs due to the COVID 19 pandemic .
              </h4>
              <p class="card-text coro_body">
                We’re here to help you overcome the challenges created by this health crisis. We offer multiple funding
                options for those seeking relief. Read more below.


              </p>
              <a href="#/BenefitOptions" class="btn btn-lg btn-danger">Proceed</a>
            </div>
          </div>
          <br><br><br><br><br><br>
        </div>



      </slick>


      </div>
    </div>

  </div>
</div>

<div class="module ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">

        <a href="#/BenefitOptions" class="btn btn-lg btn-danger">Proceed</a>


        <p style="margin-top:20px;" >
          Our nation's small businesses are facing an unprecedented economic disruption due to the Coronavirus (COVID-19) outbreak. On Friday, March 27, 2020, the President signed into law the CARES Act, which contains $376 billion in relief for American workers and small businesses.
        </p>


        <h2>Funding Options</h2>

        <div class="card-group">
          <div class="card">
            <img src="images/b1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                Loans</h5>
              <p class="card-text">
                Start or expand your business with loans guaranteed by the Small Business Administration.

              </p>

            </div>
          </div>
          <div class="card">
            <img src="images/b2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Investment capital</h5>
              <p class="card-text">
                Find an investor for your business. Investors make both debt and equity investments.
              </p>

            </div>
          </div>
          <div class="card">
            <img src="images/b3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Disaster assistance</h5>
              <p class="card-text">
                Get help after a disaster with low-interest disaster loans from the Small Business Administration.
              </p>

            </div>
          </div>

          <div class="card">
            <img src="images/b4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Surety bonds</h5>
              <p class="card-text">
                Protect your work and your client with an SBA-guaranteed surety bond.
              </p>

            </div>
          </div>




        </div>

        <br>

        <p>
          In addition to traditional SBA funding programs, the CARES Act established several new temporary programs to address the COVID-19 outbreak.
        </p>

        <br>
        <div class="card-group">
          <div class="card">
            <img src="images/CON-SBA_Pandemic_Icon-Left-Aligned-09.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                Paycheck Protection Program</h5>
              <p class="card-text">

                This loan program provides loan forgiveness for retaining employees by temporarily expanding the traditional SBA 7(a) loan program.
              </p>

            </div>
          </div>
          <div class="card">
            <img src="images/CON-SBA_Pandemic_Icon-EIDL-update--17.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">EIDL</h5>
              <p class="card-text">
                This loan will provide economic relief to small businesses and non-profit organizations that are currently experiencing a temporary loss of revenue.
              </p>
              <p class="card-text  float-right"><small class="text-muted">Learn more </small></p>
            </div>
          </div>
          <div class="card">
            <img src="images/CON-SBA_Pandemic_Icon-Left-Aligned-16.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SBA Express Bridge Loans</h5>
              <p class="card-text">
                Enables small businesses who currently have a business relationship with an SBA Express Lender to access up to $25,000 quickly.
              </p>

            </div>
          </div>

          <div class="card">
            <img src="images/CON-SBA_Pandemic_Icon-Left-Aligned-11.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SBA Debt Relief</h5>
              <p class="card-text">
                The SBA is providing a financial reprieve to small businesses during the COVID-19 pandemic.
              </p>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
