    <!--header section start-->
    <section class="hero-section ptb-100 gradient-overlay"
             style="background: url('img/header-bg-5.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7">
                    <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                        <h1 class="text-white mb-0"> Unemployment Benefits </h1>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--header section end-->

    <!--blog section start-->
    <section class="our-blog-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading mb-5">
                        <h2 style="color:red;">Unemployment Help</h2>
                        <p class="lead">
                           How to apply for unemployment benefits, workers' compensation, welfare or temporary
                            assistance , and other programs and services that can help if you lose your job.
                        </p>
                    </div>
                </div>
            </div>




        </div>
    </section>
    <!--blog section end-->

      <!--blog section start-->
      <div class="module ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">

                    <!-- Post-->
                    <article class="post">
                        <div class="post-preview"><a href="#"><img src="img/blog/1-w.jpg" alt="blog"/></a></div>
                        <div class="post-wrapper">
                            <div class="post-header">
                                <h2 class="post-title"><a href="#">
                                   Unemployment Claims
                                </a></h2>

                            </div>
                            <div class="post-content">
                                <p>
                                   The federal government has allowed states to change their unemployment benefits laws. It lets the provide the coronavirus response and relief Supplemental Appropriation Act of 2001 authorizes.
                                </p>
                            </div>

                        </div>
                    </article>
                    <!-- Post end-->

                    <!-- Post-->
                    <article class="post">
                        <div class="post-preview"><a href="#"><img src="img/blog/2-w.jpg" alt="blog"/></a></div>
                        <div class="post-wrapper">
                            <div class="post-header">
                                <h2 class="post-title"><a href="#"> Temporary Assistance</a></h2>

                            </div>
                            <div class="post-content">
                                <p>
                                   As a temporary assisstance, payment of $600 per week  until March 14, 2021 to everyone who is qualified for unemployment benefits.
                                   Your job is design to work from home as an errands or temporary assistance to get weekly payment of  $600 every week.

                                </p>
                            </div>

                        </div>
                    </article>
                    <!-- Post end-->


                    <!-- Post-->
                    <article class="post">
                      <div class="post-preview"><a href="#"><img src="img/blog/3-w.jpg" alt="blog"/></a></div>
                      <div class="post-wrapper">
                          <div class="post-header">
                              <h2 class="post-title"><a href="#">
                                 Unemployed Workers
                              </a></h2>

                          </div>
                          <div class="post-content">
                              <p>
                                 There are variety of benefit and aid programs to
                                 help you if you lose your job. Is a good place to start.
                                 It can help with unemployment benefits finding a job.
                              </p>
                          </div>

                      </div>
                  </article>



                    <!-- Post-->
                    <article class="post">
                        <div class="post-preview"><a href="#"><img src="img/blog/4-w.jpg" alt="blog"/></a></div>
                        <div class="post-wrapper">
                            <div class="post-header">
                                <h2 class="post-title">
                                  <a href="#/ApplyForLoan">
                                    Apply for Unemployment Benefits
                                     </a>
                                    </h2>

                            </div>
                            <div class="post-content  text-center">
                                <p>
     <a href="#/ApplyForLoan" class="btn btn-danger btn-lg"> Apply</a>
                                </p>
                            </div>

                        </div>
                    </article>
                    <!-- Post end-->

                </div>
            </div>
        </div>
    </div>
    <!--blog section end-->

