  <!--header section start-->
  <section class="hero-section ptb-100 gradient-overlay"
  style="background: url('img/header-bg-5.jpg')no-repeat center center / cover">
<div class="container">
 <div class="row justify-content-center">
     <div class="col-md-8 col-lg-7">
         <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
             <h1 class="text-white mb-0">Current accounts</h1>

         </div>
     </div>
 </div>
</div>
</section>
<!--header section end-->

<!--blog section start-->
<section class="our-blog-section ptb-100 gray-light-bg">
<div class="container">
 <div class="row">
     <div class="col-md-12">
         <div class="section-heading mb-5">
             <h2>Current accounts</h2>
             <p class="lead">
                 Make managing your money easy with an HSBC current account. With access to linked savings accounts, overdrafts and digital banking, there’s plenty to consider. Take a look at our range of current accounts and guidance to see what will suit you.
             </p>
         </div>
     </div>
 </div>


 <button type="submit" class="btn secondary-solid-btn align-content-center btn-not-rounded mt-3">View all accounts</button>


</div>
</section>
<!--blog section end-->



<!--blog section start-->
<div class="module ptb-100">
<div class="container">
 <div class="row">
     <div class="col-lg-12 col-md-12">
         <div class="row row-post-thumbnail">
             <h2>
                 Related articles
             </h2>
             <!-- Post-->
             <article class="post row align-items-center">
                 <div class="col-md-5">
                     <div class="post-preview"><a href="#"><img src="img/blog/1.jpg" alt="article" class="img-fluid"/></a></div>
                 </div>
                 <div class="col-md-7">
                     <div class="post-wrapper">
                         <div class="post-header">
                             <h2 class="post-title"><a href="#">How to switch current accounts</a></h2>

                         </div>
                         <div class="post-content">
                             <p>
                                 If you’re not happy with your current account and are looking for a better deal it’s never been easier to switch. See what you need to do to switch current accounts and also what to look out for – such as introductory deals that may be good for a short time, but not that great over the long term.
                         </p>

                         </div>
                     </div>
                 </div>
             </article>
             <!-- Post end-->
             <!-- Post-->
             <article class="post row align-items-center">
                 <div class="col-md-5">
                     <div class="post-preview"><a href="#"><img src="img/blog/2.jpg" alt="article" class="img-fluid"/></a></div>
                 </div>
                 <div class="col-md-7">
                     <div class="post-wrapper">
                         <div class="post-header">
                             <h2 class="post-title"><a href="#">Opening a current account</a></h2>

                         </div>
                         <div class="post-content">
                             <p>
                                 Explains what the key documents are that you need to open a current account. It’s important you have all the necessary identification so there are no issues or delays in setting up your current account. Whether you’re applying online or going into branch, make sure you're prepared.
                             </p>

                         </div>
                     </div>
                 </div>
             </article>
             <!-- Post end-->
             <!-- Post-->
             <article class="post row align-items-center">
                 <div class="col-md-5">
                     <div class="post-preview"><a href="#"><img src="img/blog/3.jpg" alt="article" class="img-fluid"/></a></div>
                 </div>
                 <div class="col-md-7">
                     <div class="post-wrapper">
                         <div class="post-header">
                             <h2 class="post-title"><a href="#">
                                 Banking terms you need to know
                             </a></h2>

                         </div>
                         <div class="post-content">
                             <p>
                                 A little bit unsure about the difference between a standing order and a Direct Debit? You’re not the only one. Read through some of the key banking terms and their definitions so you can be confident you know the difference between an ear and an EAR.
                             </p>

                         </div>
                     </div>
                 </div>
             </article>
             <!-- Post end-->
             <!-- Post-->
             <article class="post row align-items-center">
                 <div class="col-md-5">
                     <div class="post-preview"><a href="#"><img src="img/blog/4.jpg" alt="article" class="img-fluid"/></a></div>
                 </div>
                 <div class="col-md-7">
                     <div class="post-wrapper">
                         <div class="post-header">
                             <h2 class="post-title"><a href="#">Benefits of a current account </a></h2>

                         </div>
                         <div class="post-content">
                             <p>
                                 A current account can help you simplify your finances. It will give you access to mobile banking, linked savings accounts and overdrafts, as well as a place to make payments from and withdraw cash. Look at some of the key benefits to make sure you’re getting all you need from your current account.
                             </p>

                         </div>
                     </div>
                 </div>
             </article>
             <!-- Post end-->


         </div>


     </div>

 </div>
</div>
</div>
<!--blog section end-->
