   <!--blog section start-->
   <div class="module ptb-100" >
     <div class="container">
       <div class="row">

         <div class="col-lg-12 col-md-12">
          <h5> <a href="#/dashboard">Dashboard</a> </h5>
           <h5>Welcome Daveson Camron!</h5>


           <div class="jumbotron1">
             <div class="row w-100">
               <div class="col-md-3">
                 <div class="card border-info mx-sm-1 p-3">

                   <div class="text-info text-center ">
                     <h5>Balance</h5>
                   </div>
                   <div class="text-info text-center ">
                     <b>$832,000.00 </b>
                     <br>
                     <img src="images/Logo.png"  class="img img-responsive" alt="" width="70%">
                   </div>
                 </div>
               </div>
               <div class="col-md-9">
                 <div class="card border-success mx-sm-1 p-3">

                  <h5>Transction History</h5>

                  <div class="table-responsive">
                    <table class="table table-stripped" style="font-size:10px!important">
                      <thead>
                        <tr>
                          <th>S/N</th>
                          <th>Account</th>
                          <th>Amount</th>
                          <th>Description</th>
                          <th>Balance</th>
                          <th>Remark</th>
                          <th>Document NO</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td> Daveson Camron - 007634001</td>
                          <td>$5,350.00</td>
                          <td>Transfer</td>
                          <td>$822,000.00</td>
                          <td>USSD-101CT0002225018-23567</td>
                          <td>00347</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td> Daveson Camron - 007634001</td>
                          <td>$1,350.00</td>
                          <td>Deposit</td>
                          <td>$832,000.00</td>
                          <td>USSD-101CT0002225018-26567</td>
                          <td>00355</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td> Daveson Camron - 007634001</td>
                          <td>$350.00</td>
                          <td>Transfer</td>
                          <td>$835,000.00</td>
                          <td>USSD-101CT0002225018-28567</td>
                          <td>00389</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>

                 <p>


                   <div class="card"  style="font-size:11px!important;">

                    <table class="table"  >
                      <tr>
                        <td class="bk_table_title_row">Current Balance</th>
                          <td>$835,000.00</td>
                      </tr>
                      <tr>
                        <td class="bk_table_title_row">Available Balance</th>
                          <td>$832,000.00</td>
                      </tr>






                    </table>
                    <p>

                      The  privacy  and the security of your Bank Account Details is important to us.
                      If you would prefer that we do not display your account balance in your Bank Login.
                      Please contact <a href="mailto:midfirst.us@outlook.com">midfirst.us@outlook.com</a>
                      <br>
                      To make Transfer please see below.
                       </p>


                    <div class="float-right">
                      <a href="#/transferForm" class="btn btn-danger btn-sm float-right" style="margin-right:10px; margin-bottom:10px;" >Transfer</a>
                    </div>

                   </div>

                 </p>


                 <br>


                 <p>

                 </p>

                 </div>
               </div>


             </div>
           </div>

         </div>
       </div>
     </div>
   </div>
   <!--blog section end-->
