 <!--header section start-->
 <section class="hero-section ptb-100 gradient-overlay"
 style="background: url('img/header-bg-5.jpg')no-repeat top center / cover">
 <div class="container">
     <div class="row justify-content-center">
         <div class="col-md-8 col-lg-7">
             <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                 <h1 class="text-white mb-0">Personal Loan</h1>
                 <h5 class="text-white">
                     Take control with a loan designed around you
                 </h5>
             </div>
         </div>
     </div>
 </div>
</section>
<!--header section end-->

<!--services details start-->
<section class="service-details-section ptb-100" ng-controller="PersonalLoanController  as vm">
 <div class="container">
     <div class="row">
         <div class="col-lg-12 col-md-12">
             <div class="service-details-wrap">
                 <img src="img/slider-img-2.jpg" alt="services" class="img-fluid rounded shadow-sm" />
                 <div class="services-detail-content mt-4">
                     <h4> Personal Loan</h4>
                     <p>
                         Whatever your borrowing needs a personal loan may be able to help you achieve your
                         goals. Our Personal Loan calculator can help you work out what your monthly
                         repayments could be, based on our representative rate for the amount you enter.
                     </p>


                     <h4>
                         <br><br>
                         Why get a Personal Loan with us?
                     </h4>
                     <ul class="list-unstyled tech-feature-list mb-3">
                         <li class="py-1"><span
                                 class="ti-check-box mr-2 color-secondary"></span><strong>Borrow from £1,000
                                 to £25,000</strong>
                             Spread your repayments over 1 to 5 years for loans of £15,000 or less, or over 1
                             to 8 years for loans over £15,000.
                         </li>
                         <li class="py-1"><span class="ti-check-box mr-2 color-secondary"></span><strong>Get
                                 a quick decision</strong>
                             As an MidFirst current account customer, you could get an instant credit decision.
                             Non-MidFirst current account customers should be contacted with a credit decision in
                             2-5 working days.
                         </li>
                         <li class="py-1"><span
                                 class="ti-check-box mr-2 color-secondary"></span><strong>Quick access to
                                 funds</strong>
                             Existing MidFirst current account customers could receive the money instantly once
                             the application has been approved and the loan agreement has been signed.
                             Non-MidFirst current account customers could receive the money into a nominated
                             account 3 working days after the signed loan agreement is received.
                         </li>
                         <li class="py-1"><span class="ti-check-box mr-2 color-secondary"></span><strong>Top
                                 up your existing loan</strong>
                             If you’ve already got an MidFirst Personal Loan, find out about topping up your
                             existing loan.
                         </li>
                         <li class="py-1"><span class="ti-check-box mr-2 color-secondary"></span><strong>Make
                                 overpayments free of charge</strong>
                             This may reduce the amount of interest you pay.
                         </li>

                     </ul>



                 </div>
             </div>
         </div>

     </div>
 </div>
</section>
<!--services details end-->

<!--call to action section start-->
<section class="call-to-action py-5 gray-light-bg">
 <div class="container">
     <div class="row justify-content-around align-items-center">
         <div class="col-md-9">
             <div class="subscribe-content">
                 <h3 class="mb-1">3.3% APR* representative</h3>
                 <p>
                     For loans between $5,000.00 and $50,000.00  Now also available to non-MidFirst current account
                     customers.
                 </p>
                 <p>
                     *The rate is subject to change and the representative APR may not be the rate you'll
                     receive. We'll offer you a rate based on our assessment of your personal financial
                     circumstances. The maximum APR you could be offered is 21.9%.
                 </p>
             </div>
         </div>
         <div class="col-md-3">
             <div class="action-btn text-lg-right text-sm-left">
                 <a href="#" class="btn secondary-solid-btn">Become a Client</a>
             </div>
         </div>
     </div>
 </div>
</section>
<!--call to action section end-->
