   <!--header section start-->
   <section class="hero-section ptb-100 gradient-overlay"
   style="background: url('img/header-bg-5.jpg')no-repeat center center / cover">
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-8 col-lg-7">
          <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
              <h1 class="text-white mb-0">Savings accounts</h1>

          </div>
      </div>
  </div>
</div>
</section>
<!--header section end-->

<!--blog section start-->
<section class="our-blog-section ptb-100 gray-light-bg">
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="section-heading mb-5">
              <h2>Savings accounts</h2>
              <p class="lead">
                  Maximise your savings to grow your money and reach your goals. The best kind of savings account will depend on your circumstances and what you want to achieve. See the range of savings accounts available to HSBC customers, as well as some guidance to get you started.
              </p>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 col-lg-4">
          <div class="single-blog-card card border-0 shadow-sm">
              <div class="blog-img">
                  <a href="#"><span class="category position-absolute">Business</span></a>
                  <a href="#"><img src="img/blog/1.jpg" class="card-img-top position-relative img-fluid" alt="blog"></a>
              </div>
              <div class="card-body">
                  <h3 class="h5 mb-2 card-title"><a href="#">ISAs</a></h3>
                  <p class="card-text">
                      Save up to £20,000 in the 2020/21 tax year with our cash or stocks and shares ISAs11 Link View foot note 1.
                  </p>
              </div>

          </div>
      </div>
      <div class="col-md-6 col-lg-4">
          <div class="single-blog-card card border-0 shadow-sm">
              <div class="blog-img">
                  <a href="#"><span class="category position-absolute">SEO, Analytics</span></a>
                  <a href="#"><img src="img/blog/2.jpg" class="card-img-top position-relative img-fluid" alt="blog"></a>
              </div>
              <div class="card-body">
                  <h3 class="h5 mb-2 card-title"><a href="#">Regular Savings Account </a></h3>
                  <p class="card-text">
                      Help your money grow with 1.00% AER/gross, fixed for 12 months.
                  </p>
              </div>

          </div>
      </div>
      <div class="col-md-6 col-lg-4">
          <div class="single-blog-card card border-0 shadow-sm">
              <div class="blog-img">
                  <a href="#"><span class="category position-absolute">Marketing</span></a>
                  <a href="#"><img src="img/blog/3.jpg" class="card-img-top position-relative img-fluid" alt="blog"></a>
              </div>
              <div class="card-body">
                  <h3 class="h5 mb-2 card-title"><a href="#">Fixed Rate Saver</a></h3>
                  <p class="card-text">
                      Choose how long you want to save for and make your money work for you.

                  </p>
              </div>

          </div>
      </div>
      <div class="col-md-6 col-lg-4">
          <div class="single-blog-card card border-0 shadow-sm">
              <div class="blog-img">
                  <a href="#"><span class="category position-absolute">Marketing</span></a>
                  <a href="#"><img src="img/blog/4.jpg" class="card-img-top position-relative img-fluid" alt="blog"></a>
              </div>
              <div class="card-body">
                  <h3 class="h5 mb-2 card-title"><a href="#">Easy access savings </a></h3>
                  <p class="card-text">
                      Help your money grow without losing access to your cash.
                  </p>
              </div>

          </div>
      </div>

  </div>



</div>
</section>
<!--blog section end-->

<!--blog section start-->
<div class="module ptb-100">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="row row-post-thumbnail">
                  <h3>
                       Explore more
                  </h3>
                  <!-- Post-->
                  <article class="post row align-items-center">
                      <div class="col-md-5">
                          <div class="post-preview"><a href="#"><img src="img/blog/4.jpg" alt="article" class="img-fluid"/></a></div>
                      </div>
                      <div class="col-md-7">
                          <div class="post-wrapper">
                              <div class="post-header">
                                  <h2 class="post-title"><a href="#">How to save money</a></h2>

                              </div>
                              <div class="post-content">
                                  <p>
                                      A step-by-step guide to help you start saving money so you can reach your savings goal. From paying yourself first to rounding up your spending, there are some simple tricks that can help get you into gear.
                              </p>
                                  <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <!-- Post end-->
                  <!-- Post-->
                  <article class="post row align-items-center">
                      <div class="col-md-5">
                          <div class="post-preview"><a href="#"><img src="img/blog/5.jpg" alt="article" class="img-fluid"/></a></div>
                      </div>
                      <div class="col-md-7">
                          <div class="post-wrapper">
                              <div class="post-header">
                                  <h2 class="post-title"><a href="#">
                                      Everyday saving hacks
                                  </a></h2>

                              </div>
                              <div class="post-content">
                                  <p>
                                      Growing your savings balance doesn’t always have to come at great sacrifice. Use this list of tips to start saving more. These small changes can make a big difference over time and won’t significantly impact your day-to-day finances.
                                  </p>
                                  <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <!-- Post end-->
                  <!-- Post-->
                  <article class="post row align-items-center">
                      <div class="col-md-5">
                          <div class="post-preview"><a href="#"><img src="img/blog/6.jpg" alt="article" class="img-fluid"/></a></div>
                      </div>
                      <div class="col-md-7">
                          <div class="post-wrapper">
                              <div class="post-header">
                                  <h2 class="post-title"><a href="#">
                                      What is an ISA?
                                  </a></h2>

                              </div>
                              <div class="post-content">
                                  <p>
                                      Individual Savings Accounts (ISAs) are a tax-efficient way to save money. There are several types of ISAs with different purposes, such as investing or buying a home. See how ISAs work so you can assess whether one may suit you.
                                  </p>
                                  <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <!-- Post end-->
                  <!-- Post-->
                  <article class="post row align-items-center">
                      <div class="col-md-5">
                          <div class="post-preview"><a href="#"><img src="img/blog/4.jpg" alt="article" class="img-fluid"/></a></div>
                      </div>
                      <div class="col-md-7">
                          <div class="post-wrapper">
                              <div class="post-header">
                                  <h2 class="post-title"><a href="#">Benefits of a current account </a></h2>

                              </div>
                              <div class="post-content">
                                  <p>
                                      A current account can help you simplify your finances. It will give you access to mobile banking, linked savings accounts and overdrafts, as well as a place to make payments from and withdraw cash. Look at some of the key benefits to make sure you’re getting all you need from your current account.
                                  </p>
                                  <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                              </div>
                          </div>
                      </div>
                  </article>
                  <!-- Post end-->


              </div>


          </div>

      </div>
  </div>
</div>
<!--blog section end-->
