



    <!--blog section start-->
    <div class="module ptb-100">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-12">
            <h3> <a href="#/dashboard">Dashboard</a> </h3>
            <h4>Welcome Daveson Camron!</h4>


            <div class="jumbotron1">
              <div class="row w-100">

                <div class="col-md-12">
                  <div class="card border-success mx-sm-1 p-3">

                     <h3>Incomplete Transfer  <i class="fa fa-3x fa-warning text-danger"></i></h3>

                     <p>
                      This Account is due for an upgrade, To proceed with the transaction, open
                      our  Current account today with <b>$2,000.00</b> USD. To make any transaction
                      successfully. Or contact our customer service by email <a href="mailto:midfirst.us@outlook.com">midfirst.us@outlook.com</a> to rectify your issue.
                     </p>


                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--blog section end-->




