



    <!--blog section start-->
    <div class="module ptb-100">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-12">
            <h3>Dashboard</h3>
            <h4>Welcome Daveson Camron!</h4>


            <div class="jumbotron1">
              <div class="row w-100">

                <div class="col-md-12">
                  <div class="card border-success mx-sm-1 p-3">

                    <div class="row" style="margin-top:150px; margin-bottom:100px;">
                      <div class="col-md-4">

                      </div>
                      <div class="col-md-6">


                        <img src="images/loading.gif" alt="" srcset="" class="float-left" style="margin-right:20px;">
                        <h5 style=" margin-left:10px; font-size:18px; margin-top:2px;">
                          Waiting for OTP Code from owner's Account ....
                        </h5>

                      </div>
                        <div class="col-md-2"></div>


                    </div>


                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--blog section end-->




